<mat-card class="text-center">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-title>product name</mat-card-title>
    <mat-card-subtitle>category</mat-card-subtitle>
    <mat-card-content>{{ 1000 | currency }}</mat-card-content>
</mat-card>
