<nav class="navbar navbar-expand navbar-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Brand</a>
        <div class="border"></div>
        <div class="navbar-collapse px-3">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/products']">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/products', 1]">product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/profile']">profile</a>
                </li>
            </ul>
            <button class="btn btn-outline-info d-flex" routerLink="/login">
                <mat-icon>login</mat-icon>&nbsp;Login
            </button>
            <div class="border mx-3"></div>
            <a routerLink="/cart" class="mt-2">
                <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
            </a>
        </div>
    </div>
</nav>
