.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}

.items {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 5px;
    max-width: calc(100% - 100px);
}

.items > * {
    flex: 0 0 calc(25% - 20px);
    margin: 0px 10px;
    transition: margin-left .35s ease;
}

.right, .left {
    background-color: #e0e0e0;
    width: 40px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.disabled {
    background-color: #efefef;
    color: #aaa;
    cursor: not-allowed;
}

.right .mat-icon, .left .mat-icon {
    line-height: 1.5;
    margin-left: -10px;
    font-size: 4rem;
}
