<div class="carousel">
    <div class="left" (click)="prev()" [ngClass]="{disabled: index == 0}">
        <mat-icon>chevron_left</mat-icon>
    </div>
    <div class="items">
        <app-product-item *ngFor="let product of ['','','','','','','','']; let i = index"
                          [ngStyle]="{'margin-left': i == 0 ? 'calc(-' + (index * 25) + '% + 10px)' : '10px'}"
        ></app-product-item>
    </div>
    <div class="right" (click)="next()" [ngClass]="{disabled: index >= 4}">
        <mat-icon>chevron_right</mat-icon>
    </div>
</div>
<hr>
