.title {
    text-align: center;
    margin: 3rem 0;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .5rem;
    position: relative;
    padding-bottom: 1.5rem;
}

.title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 35%;
    left: 35%;
    height: 3px;
    background-color: #e0e0e0;
}
