<div class="slider bg-light">
    <app-slide *ngFor="let product of ['','','','']; let i = index"
               [image]="'https://picsum.photos/600?i=' + i"
               [active]="index % 4 == i"
               productName="Product Name"
               productCat="Category"
               [productPrice]="2000"></app-slide>
    <div class="navigates">
        <ng-template ngFor [ngForOf]="['','','','']" let-i="index">
            <div [ngClass]="{'active': index % 4 == i}" (click)="changeIndex(i)"></div>
        </ng-template>
    </div>
</div>
