.slider {
    height: 400px;
    position: relative;
}

.navigates {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}

.navigates div {
    margin: 5px;
    width: 20px;
    height: 7px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
    transition: all .35s ease;
    cursor: pointer;
}

.navigates div:hover {
    background-color: rgba(255, 255, 255, 1);
}

.navigates .active {
    margin: 5px 10px;
    width: 40px;
    background-color: rgba(255, 255, 255, 1);
}
