<div class="slide" [ngStyle]="{'background-image': 'url(' + image + ')'}" [ngClass]="{'active': active}">
    <div class="overlay d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="product-name">{{ productName }}</h1>
            <h3 class="product-cat">{{ productCat }}</h3>
            <h3 class="product-price">{{ productPrice | currency }}</h3>
        </div>
    </div>
</div>
