.slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.slide.active, .slide.active .product-name, .slide.active .product-cat, .slide.active .product-price {
    opacity: 1;
}

.overlay {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.product-name, .product-cat, .product-price {
    color: #fff;
    line-height: 4rem;
    text-shadow: 5px 2px 0px rgba(0, 0, 0, .5), 0px 0px 10px rgba(0, 0, 0, .8);
    opacity: 0;
    transition-delay: 0s;
    transition: opacity .35s ease;
}

.product-name {
    font-size: 4rem;
    font-weight: 600;
}

.product-cat {
    font-size: 3rem;
}

.product-price {
    font-size: 2.5rem;
}

.slide.active .product-name {
    transition-delay: .6s;
}

.slide.active .product-cat {
    transition-delay: 1s;
}

.slide.active .product-price {
    transition-delay: 1.4s;
}
